form.main-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "date"
    "store"
    "amount"
    "file"
    "buttons"
    "updated"
    "created";
  column-gap: 1rem;
  align-self: start;
}

.input-group.date {
  grid-area: date;
}
.input-group.store {
  grid-area: store;
}
.input-group.amount {
  grid-area: amount;
}
.input-group.file {
  grid-area: file;
}
.button-group {
  grid-area: buttons;
}
.input-group.updated {
  grid-area: updated;
}
.input-group.created {
  grid-area: created;
}

div.preview {
  grid-column: 1 / 13;
}

div.preview > iframe[data-id="preview"] {
  width: 100%;
  height: 400px;
}
div.preview > img[data-id="preview"] {
  width: auto;
  height: 400px;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1280px) {
  div.preview {
    grid-column: 7 / 13;
  }
  div.preview > iframe[data-id="preview"] {
    width: 100%;
    height: 100%;
  }
  div.preview > img[data-id="preview"] {
    width: auto;
    height: 100%;
    max-height: 60vh;
  }
}

@media only screen and (min-width: 1580px) {
}
